<div>
  <table class="table-fixed text-base w-full">
    <thead class="text-base text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="text-xl"><%= link_to opponent.team_name, team_path(opponent.team) %></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Last match</td>
      <td><%= opponent.last_match_opponent_name %></td>
    </tr>
    <tr>
      <td>Top scorer</td>
      <td><%= opponent.top_scorer[1] %></td>
    </tr>
    <tr>
      <td>Most assists</td>
      <td><%= opponent.top_assists[1] %></td>
    </tr>
    <tr>
      <td>Most booked</td>
      <td><%= opponent.most_booked_player.get_player_name %></td>
    </tr>
    <tr>
      <td>Most reds</td>
      <td><%= opponent.most_reds_player.get_player_name %></td>
    </tr>
    <tr>
      <td>Scored</td>
      <td><%= @next_opponent.goals.size %></td>
    </tr>
    <tr>
      <td>Conceded</td>
      <td><%= @next_opponent.goals_against_number %></td>
    </tr>
    <tr>
      <td>Bookings</td>
      <td><%= Card.yellow_cards_for_team_season(@next_opponent.id).size %></td>
    </tr>
    <tr>
      <td>Reds</td>
      <td><%= Card.red_cards_for_team_season(@next_opponent.id).size %></td>
    </tr>
    <tr class="tablet:hidden">
      <td>1st half Goals scored</td>
      <td><%= @next_opponent.first_half_goals_total %></td>
    </tr>
    <tr class="tablet:hidden">
      <td>2nd half Goals scored</td>
      <td><%= @next_opponent.second_half_goals_total %></td>
    </tr>
    <tr class="tablet:hidden">
      <td>1st half Goals conceded</td>
      <td><%= @next_opponent.first_half_goals_conceded_count %></td>
    </tr>
    <tr class="tablet:hidden">
      <td>2nd half Goals conceded</td>
      <td><%= @next_opponent.second_half_goals_conceded_count %></td>
    </tr>
    <tr class="tablet:hidden">
      <td>1st half Yellow cards</td>
      <td><%= @next_opponent.first_half_yellow_cards_total %></td>
    </tr>
    <tr class="tablet:hidden">
      <td>2nd half Yellow cards</td>
      <td><%= @next_opponent.second_half_yellow_cards_total %></td>
    </tr>
    <tr class="tablet:hidden">
      <td>1st half Red cards</td>
      <td><%= @next_opponent.first_half_red_cards_total %></td>
    </tr>
    <tr class="tablet:hidden">
      <td>2nd half Red cards</td>
      <td><%= @next_opponent.second_half_red_cards_total %></td>
    </tr>
    </tbody>
  </table>
</div>
<div>
  <table class="table-fixed text-base w-full laptop:hidden">
    <thead class="text-base text-gray-700 uppercase text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
    <tr>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><br></td>
      <td><br></td>
    </tr>
    <tr>
      <td>1st half Goals scored</td>
      <td><%= @next_opponent.first_half_goals_total %></td>
    </tr>
    <tr>
      <td>2nd half Goals scored</td>
      <td><%= @next_opponent.second_half_goals_total %></td>
    </tr>
    <tr>
      <td>1st half Goals conceded</td>
      <td><%= @next_opponent.first_half_goals_conceded_count %></td>
    </tr>
    <tr>
      <td>2nd half Goals conceded</td>
      <td><%= @next_opponent.second_half_goals_conceded_count %></td>
    </tr>
    <tr>
      <td>1st half Yellow cards</td>
      <td><%= @next_opponent.first_half_yellow_cards_total %></td>
    </tr>
    <tr>
      <td>2nd half Yellow cards</td>
      <td><%= @next_opponent.second_half_yellow_cards_total %></td>
    </tr>
    <tr>
      <td>1st half Red cards</td>
      <td><%= @next_opponent.first_half_red_cards_total %></td>
    </tr>
    <tr>
      <td>2nd half Red cards</td>
      <td><%= @next_opponent.second_half_red_cards_total %></td>
    </tr>
    </tbody>
  </table>
</div>
