<table class="table-fixed text-base text-md w-full justify-items-left">
  <tbody>
  <tr>
    <td>Scored</td>
    <td><%= @next_opponent.goals.size %></td>
  </tr>
  <tr>
    <td>Conceded</td>
    <td><%= @next_opponent.goals_against_number %></td>
  </tr>
  <tr>
    <td>Bookings</td>
    <td><%= Card.yellow_cards_for_team_season(@next_opponent.id).size %></td>
  </tr>
  <tr>
    <td>Reds</td>
    <td><%= Card.red_cards_for_team_season(@next_opponent.id).size %></td>
  </tr>
  <tr>
    <td>1st half Goals scored</td>
    <td><%= @next_opponent.first_half_goals_total %></td>
  </tr>
  <tr>
    <td>2nd half Goals scored</td>
    <td><%= @next_opponent.second_half_goals_total %></td>
  </tr>
  <tr>
    <td>1st half Goals conceded</td>
    <td><%= @next_opponent.first_half_goals_conceded_count %></td>
  </tr>
  <tr>
    <td>2nd half Goals conceded</td>
    <td><%= @next_opponent.second_half_goals_conceded_count %></td>
  </tr>
  <tr>
    <td>1st half Yellow cards</td>
    <td><%= @next_opponent.first_half_yellow_cards_total %></td>
  </tr>
  <tr>
    <td>2nd half Yellow cards</td>
    <td><%= @next_opponent.second_half_yellow_cards_total %></td>
  </tr>
  <tr>
    <td>1st half Red cards</td>
    <td><%= @next_opponent.first_half_red_cards_total %></td>
  </tr>
  <tr>
    <td>2nd half Red cards</td>
    <td><%= @next_opponent.second_half_red_cards_total %></td>
  </tr>
  </tbody>
</table>