<div class="grid grid-rows-2">
  <div class='grid grid-cols-5'>
    <p>next game</p>
    <p>top scorer</p>
    <p>most booked</p>
    <p>most sent off</p>
    <p>last result</p>
  </div>
  <div class='grid grid-cols-5'>
    <p><%= link_to @team.current_team_season.next_match_opponent_name, team_path(Team.find_by(name: @team.current_team_season.next_match_opponent_name )) %></p>
    <p><%= link_to "#{@top_scorer[0]} - #{@top_scorer[1]}", player_path(@top_scorer[2]) %></p>
    <p><%= link_to "#{@most_booked.get_player_name} - #{@most_booked.season_yellows}", player_path(@most_booked.player) %></p>
    <% if @most_reds %>
      <p><%= link_to "#{@most_reds.get_player_name} - #{@most_reds.season_reds}", player_path(@most_reds.player) %></p>
    <% else %>
      <p>N/A</p>
    <% end %>
    <p>
      <span><%= @team.current_team_season.last_match_result %></span>
      <span><%= link_to @team.current_team_season.last_match_details_string, fixture_path(@team.current_team_season.last_match) %></span>
    </p>
  </div>
</div>