<div class="mx-10 my-10">
	<div class="grid">
		<div class="row">
			<h1 class='text-6xl'><%= @team.name %></h1>
		</div>
		<%= render 'team_stats' %>
		<div class="grid grid-cols-3 mt-5">
			<div id='team-stats'>
				<%= render 'teams/charts/team_player_season_goals' %>
			</div>
			<div id='team-stats'>
				<%= render 'teams/charts/team_player_season_assists' %>
			</div>
			<div id='team-stats'>
				<%= render 'teams/charts/team_player_season_yellow_cards' %>
			</div>
		</div>
		<div class="row">
			<%= render PlayerCombinationsComponent.new(@team), cached: true %>
		</div>
		<div class="row">
			<div class="grid grid-cols-2 gap-4">
				<div class="mt-5" id="finished-fixtures-table">
					<%= turbo_frame_tag "finished_fixtures" do %>
						<%= render 'finished_fixtures_table' %>
					<% end %>
				</div>
				<div class="mt-5" id="upcoming-fixtures-table">
					<%= turbo_frame_tag "upcoming_fixtures" do %>
						<%= render 'upcoming_fixtures_table' %>
					<% end %>
				</div>
			</div>
		</div>
		<div class="grid grid-cols-4 gap-4 mt-5">
			<% if @next_match %>
				<%= render Team::OpponentStatsComponent.new(@next_match, @next_opponent) %>
				<div>
					<%= render Team::OpponentGoalStatsComponent.new(@next_match, @next_opponent) %>
					<%= render Team::OpponentCardStatsComponent.new(@next_match, @next_opponent) %>
				</div>
				<%= render Team::TeamVsOpponentComponent.new(@current_team_season, @next_match, @next_opponent) %>
				<%= render Team::PlayerVsOpponentComponent.new(@current_team_season, @next_match, @next_opponent) %>
			<% else %>
				<div><p class="text-lg">Season finished</p></div>
			<% end %>
		</div>
		<div class="grid grid-cols-2 tablet:grid-cols-2 mt-5 gap-4">
			<div data-controller="team-goals-radar-chart"
					 data-team-goals-radar-chart-current-team-season-id-value="<%= @current_team_season.id %>"
					 data-team-goals-radar-chart-opponent-team-season-id-value="<%= @next_opponent.id %>" , class="tablet:flex justify-center items-center">
				<canvas id="TeamGoalsRadarChart" width="500" height="500"></canvas>
			</div>
			<div class="flex justify-center items-center tablet:w-full">
				<%= render 'teams/charts/team_cards' %>
			</div>
		</div>
		<div class="row-auto mt-5">
			<%= turbo_frame_tag "player-season-stats" do %>
				<%= render 'player_season_stats', player_seasons: @player_seasons %>
			<% end %>
		</div>
	</div>
