<div class="grid">
  <div class="row">
    <h1 class='text-6xl'><%= @team.name %></h1>
  </div>
  <%= render 'team_stats' %>
  <div class="grid grid-cols-3">
    <div id='team-stats'>
      <%= render 'teams/charts/team_player_season_goals' %>
    </div>
    <div id='team-stats'>
      <%= render 'teams/charts/team_player_season_assists' %>
    </div>
    <div id='team-stats'>
      <%= render 'teams/charts/team_player_season_yellow_cards' %>
    </div>
  </div>
  <div class="row">
    <div class="grid grid-cols-2 gap-4">
      <div class="mt-5" id="finished-fixtures-table">
        <%= turbo_frame_tag "finished_fixtures" do %>
          <%= render 'finished_fixtures_table' %>
        <% end %>
      </div>
      <div class="mt-5" id="upcoming-fixtures-table">
        <%= turbo_frame_tag "upcoming_fixtures" do %>
          <%= render 'upcoming_fixtures_table' %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row-auto grid grid-cols-2 mt-5">
    <div><%= render 'opponent_head_to_head', fixture: @next_match, opponent: @next_opponent %></div>
    <div><%= render 'opponent_head_to_head_stats', fixture: @next_match, opponent: @next_opponent %></div>
  </div>
  <div class="row-auto mt-5">
    <%= turbo_frame_tag "player-season-stats" do %>
      <%= render 'player_season_stats', player_seasons: @player_seasons %>
    <% end %>
  </div>
</div>
