<div id="<%= dom_id season %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Start date:</strong>
    <%= season.start_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">End date:</strong>
    <%= season.end_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Api football:</strong>
    <%= season.api_football_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Current season:</strong>
    <%= season.current_season %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Current game week:</strong>
    <%= season.current_game_week %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">League:</strong>
    <%= season.league_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this season", season, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this season', edit_season_path(season), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
