<%= turbo_frame_tag "fixture_list", class: "min-w-full", autoscroll: "true" do %>
	<div class="max-w-screen-xl mx-auto px-4 grid grid-cols-1 tablet:grid-cols-3 laptop:grid-cols-6 gap-4">
		<% @leagues.each do |league| %>
			<% country_game_week_param = "#{league.country.name.downcase}_game_week" %>
			<% current_game_week = params[country_game_week_param] %>
			<div class="league-container">
				<h2 class="text-lg font-display text-center"><%= link_to league.name, league_path_by_league(league), data: { turbo_frame: '_top' } %></h2>
				<h3 class="text-lg font-display text-center"><%= "gw #{current_game_week}" %></h3>
				<% season = league.current_season %>
				<table class="w-full mb-4">
					<thead>
					<tr>
						<th class="bg-gray-300 p-2 font-bold text-center">H</th>
						<th class="bg-gray-300 p-2 font-bold text-center">KO</th>
						<th class="bg-gray-300 p-2 font-bold text-center">A</th>
					</tr>
					</thead>
					<tbody>
					<% @fixtures.select { |fixture| fixture.season == season }.each do |fixture| %>
						<tr>
							<td class="border border-gray-300 p-2 text-center"><%= link_to fixture.home_team_season.team.acronym, fixture_path_by_fixture(fixture), data: { turbo_frame: '_top' } %></td>
							<td class="border border-gray-300 p-2 text-center"><%= fixture.kick_off_or_score %></td>
							<td class="border border-gray-300 p-2 text-center"><%= link_to fixture.away_team_season.team.acronym, fixture_path_by_fixture(fixture), data: { turbo_frame: '_top' } %></td>
						</tr>
					<% end %>
					</tbody>
				</table>
			</div>
		<% end %>
	</div>

	<div class="mt-5 mb-10 text-center">
		<div class="flex justify-center items-center">
			<%= link_to "Previous Week", fixtures_path(increment: -1), class: "text-blue-500 mr-10", data: { turbo_frame: "fixture_list" } %>
			<%= link_to "Current Week", fixtures_path, class: "text-blue-500", data: { turbo_frame: "fixture_list" } %>
			<%= link_to "Next Week", fixtures_path(increment: 1), class: "text-blue-500 ml-10", data: { turbo_frame: "fixture_list" } %>
		</div>
	</div>
<% end %>
