<div class="container">
  <div id="notice">
    <%= notice %>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <h6>
        <%= "Game Week #{@fixture.game_week}" %>
      </h6>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-4">
      <h5 class="text-right">
        <%= link_to @fixture.home_team_season.team.name, team_path(@fixture.home_team_season.team) %>
      </h5>
    </div>
    <div class="col-md-4">
      <% if @fixture.home_score.nil? %>
        <h5 class="text-center">
          <%= @fixture.kick_off %>
        </h5>
      <% else %>
        <h5 class="text-center">
          <%= "#{@fixture.home_score} - #{@fixture.away_score}" %>
        </h5>
      <% end %>
    </div>
    <div class="col-md-4">
      <h5 class="text-left">
        <%= link_to @fixture.away_team_season.team.name, team_path(@fixture.away_team_season.team) %>
      </h5>
    </div>
  </div>
  <% if !@fixture.home_score.nil? %>
    <%= render '/fixtures/post_fixture/post_fixture' %>
  <% else %>
    <%= render '/fixtures/pre_fixture/pre_fixture' %>
  <% end %>
</div>