<tr class="border-b dark:border-gray-700 text-blue-600">
	<% if true?(fixture[:fixture].current_season) %>
		<td class="text-right">
			<span class="laptop:hidden">
				<%= link_to home_team_acronym, team_season_path_by_season_and_team(season, home_team_object), data: { turbo_frame: '_top' } %>
			</span>
			<span class="hidden laptop:inline">
				<%= link_to home_team_name, team_season_path_by_season_and_team(season, home_team_object), data: { turbo_frame: '_top' } %>
			</span>
		</td>
	<% else %>
		<td class="text-right">
			<span class="laptop:hidden">
				<%= link_to home_team_acronym, team_season_path_by_season_and_team(season, home_team_object), data: { turbo_frame: '_top' } %>
			</span>
			<span class="hidden laptop:inline">
				<%= link_to home_team_name, team_season_path_by_season_and_team(season, home_team_object), data: { turbo_frame: '_top' } %>
			</span>
		</td>
	<% end %>
	<td></td>
	<td class="text-center">
		<span class="laptop:hidden">
			<%= link_to kick_off_or_score, fixture_path_by_fixture(fixture[:fixture]), data: { turbo_frame: '_top' } %>
		</span>
		<span class="hidden laptop:inline">
			<%= link_to kick_off_or_score, fixture_path_by_fixture(fixture[:fixture]), data: { turbo_frame: '_top' } %>
		</span>
	</td>
	<td></td>
	<td>
		<span class="laptop:hidden">
			<%= link_to away_team_acronym, team_season_path_by_season_and_team(season, away_team_object), data: { turbo_frame: '_top' } %>
		</span>
		<span class="hidden laptop:inline">
			<%= link_to away_team_name, team_season_path_by_season_and_team(season, away_team_object), data: { turbo_frame: '_top' } %>
		</span>
	</td>
</tr>
