<table class="w-full text-sm" data-controller="search" data-search-target="table">
	<thead>
	<tr>
		<th>Position</th>
		<th class="bg-gray-300 p-2 font-bold text-center"></th>
		<th class="bg-gray-300 p-2 font-bold text-center" data-action="click->search#sort">Played</th>
		<th class="bg-gray-300 p-2 font-bold text-center" data-action="click->search#sort">G</th>
		<th class="bg-gray-300 p-2 font-bold text-center" data-action="click->search#sort">A</th>
		<th class="bg-gray-300 p-2 font-bold text-center" data-action="click->search#sort">GD</th>
		<th class="bg-gray-300 p-2 font-bold text-center" data-action="click->search#sort">YC</th>
		<th class="bg-gray-300 p-2 font-bold text-center" data-action="click->search#sort">RC</th>
		<th class="bg-gray-300 p-2 font-bold text-center" data-action="click->search#sort">Pts</th>
	</tr>
	</thead>
	<tbody>
	<% league_table_order.each_with_index do |team_season, index| %>
		<tr class="<%= cycle('bg-white', 'bg-gray-100') %>">
			<td class="border border-gray-300 p-2 text-center"><%= index + 1 %></td>
			<td class="border border-gray-300 p-2 text-center text-blue-600"><%= link_to team_season.team.name, country_league_season_team_path(team_season.team.country, team_season.team.league, team_season.season, team_season.team), data: { turbo_frame: '_top' } %></td>
			<td class="border border-gray-300 p-2 text-center"><%= team_season.completed_fixtures_count %>
			<td class="border border-gray-300 p-2 text-center"><%= team_season.goals_count %>
			<td class="border border-gray-300 p-2 text-center"><%= team_season.goals_against_number %>
			<td class="border border-gray-300 p-2 text-center"><%= team_season.goal_difference %>
			<td class="border border-gray-300 p-2 text-center"><%= team_season.yellow_card_count %>
			<td class="border border-gray-300 p-2 text-center"><%= team_season.red_card_count %>
			<td class="border border-gray-300 p-2 text-center"><%= team_season.points %></td>
		</tr>
	<% end %>
	</tbody>
</table>
