<div class="grid grid-cols-2">
	<ul class="list-group">
		<li class="list-group-item">Average minutes per assist</li>
		<li class="list-group-item">Home assists</li>
		<li class="list-group-item">Away assists</li>
		<li class="list-group-item">1st half assists</li>
		<li class="list-group-item">2nd half assists</li>
		<li class="list-group-item">1st half H assists</li>
		<li class="list-group-item">1st half A assists</li>
		<li class="list-group-item">2nd half H assists</li>
		<li class="list-group-item">2nd half A assists</li>
	</ul>
	<ul class="list-group">
		<li class="list-group-item text-center">
			<%= average_minutes_per_assist %>
		</li>
		<li class="list-group-item text-center">
			<%= home_assists %>
		</li>
		<li class="list-group-item text-center">
			<%= away_assists %>
		</li>
		<li class="list-group-item text-center">
			<%= first_half_assists %>
		</li>
		<li class="list-group-item text-center">
			<%= second_half_assists %>
		</li>
		<li class="list-group-item text-center">
			<%= first_half_home_assists %>
		</li>
		<li class="list-group-item text-center">
			<%= first_half_away_assists %>
		</li>
		<li class="list-group-item text-center">
			<%= second_half_home_assists %>
		</li>
		<li class="list-group-item text-center">
			<%= second_half_away_assists %>
		</li>
	</ul>
</div>
