<div class="grid grid-cols-2">
	<ul class="list-group">
		<li class="list-group-item">Average minutes per goal</li>
		<li class="list-group-item">Home goals</li>
		<li class="list-group-item">Away goals</li>
		<li class="list-group-item">1st half goals</li>
		<li class="list-group-item">2nd half goals</li>
		<li class="list-group-item">1st half H goals</li>
		<li class="list-group-item">1st half A goals</li>
		<li class="list-group-item">2nd half H goals</li>
		<li class="list-group-item">2nd half A goals</li>
	</ul>
	<ul class="list-group">
		<li class="list-group-item text-center">
			<%= average_minutes_per_goal %>
		</li>
		<li class="list-group-item text-center">
			<%= home_goals %>
		</li>
		<li class="list-group-item text-center">
			<%= away_goals %>
		</li>
		<li class="list-group-item text-center">
			<%= first_half_goals %>
		</li>
		<li class="list-group-item text-center">
			<%= second_half_goals %>
		</li>
		<li class="list-group-item text-center">
			<%= first_half_home_goals %>
		</li>
		<li class="list-group-item text-center">
			<%= first_half_away_goals %>
		</li>
		<li class="list-group-item text-center">
			<%= second_half_home_goals %>
		</li>
		<li class="list-group-item text-center">
			<%= second_half_away_goals %>
		</li>
	</ul>
</div>
