<div class="overflow-x-auto">
	<table class="divide-y divide-gray-200 table-auto">
		<thead class="bg-gray-50">
		<tr>
			<th scope="col" class="px-6 py-3 tracking-wider">H</th>
			<th scope="col" class="px-6 py-3 tracking-wider"></th>
			<th scope="col" class="px-6 py-3 tracking-wider">A</th>
		</tr>
		</thead>
		<tbody class="bg-white divide-y divide-gray-200">
		<tr>
			<td class="px-6 py-4 text-center"><%= home_goals %></td>
			<td class="px-6 py-4 text-center">Goals</td>
			<td class="px-6 py-4 text-center"><%= away_goals %></td>
		</tr>
		<tr>
			<td class="px-6 py-4 text-center"><%= first_half_home_goals %></td>
			<td class="px-6 py-4 text-center">1st half</td>
			<td class="px-6 py-4 text-center"><%= first_half_away_goals %></td>
		</tr>
		<tr>
			<td class="px-6 py-4 text-center"><%= second_half_home_goals %></td>
			<td class="px-6 py-4 text-center">2nd half</td>
			<td class="px-6 py-4 text-center"><%= second_half_away_goals %></td>
		</tr>
		<tr>
			<td class="px-6 py-4 text-center"><%= average_minutes_per_home_goal %></td>
			<td class="px-6 py-4 text-center">Average minutes per goal</td>
			<td class="px-6 py-4 text-center"><%= average_minutes_per_away_goal %></td>
		</tr>
		</tbody>
	</table>
</div>
