<div data-controller="player--player-season-yellow-cards-component">
	<div class="overflow-x-auto">
		<table class="min-w-full divide-y divide-gray-200">
			<thead class="bg-gray-50">
			<tr>
				<th scope="col" class="px-6 py-3 tracking-wider">H</th>
				<th scope="col" class="px-6 py-3 tracking-wider"></th>
				<th scope="col" class="px-6 py-3 tracking-wider">A</th>
			</tr>
			</thead>
			<tbody class="bg-white divide-y divide-gray-200">
			<tr>
				<td class="px-6 py-4 text-center"><%= home_yellow_cards %></td>
				<td class="px-6 py-4 text-center">Yellow Cards</td>
				<td class="px-6 py-4 text-center"><%= away_yellow_cards %></td>
			</tr>
			<tr>
				<td class="px-6 py-4 text-center"><%= %></td>
				<td class="px-6 py-4 text-center">1st half</td>
				<td class="px-6 py-4 text-center"><%= %></td>
			</tr>
			<tr>
				<td class="px-6 py-4 text-center"><%= %></td>
				<td class="px-6 py-4 text-center">2nd half</td>
				<td class="px-6 py-4 text-center"><%= %></td>
			</tr>
			<tr>
				<td class="px-6 py-4 text-center"><%= %></td>
				<td class="px-6 py-4 text-center">Average minutes per yellow</td>
				<td class="px-6 py-4 text-center"><%= %></td>
			</tr>
			</tbody>
		</table>
	</div>
</div>
