<div class="overflow-x-auto mt-3" data-controller="player--player-season-red-cards-component">
	<table class="min-w-full divide-y divide-gray-200">
		<thead class="bg-gray-50">
		</thead>
		<tbody class="bg-white divide-y divide-gray-200">
		<tr>
			<td class="px-6 py-4 text-center"><%= %></td>
			<td class="px-6 py-4 text-center">Red Cards</td>
			<td class="px-6 py-4 text-center"><%= %></td>
		</tr>
		<tr>
			<td class="px-6 py-4 text-center"><%= %></td>
			<td class="px-6 py-4 text-center">1st half</td>
			<td class="px-6 py-4 text-center"><%= %></td>
		</tr>
		<tr>
			<td class="px-6 py-4 text-center"><%= %></td>
			<td class="px-6 py-4 text-center">2nd half</td>
			<td class="px-6 py-4 text-center"><%= %></td>
		</tr>
		<tr>
			<td class="px-6 py-4 text-center"><%= %></td>
			<td class="px-6 py-4 text-center">Average minutes per red card</td>
			<td class="px-6 py-4 text-center"><%= %></td>
		</tr>
		</tbody>
	</table>
</div>
