<table class="table-responsive match-goals-table text-center w-1/2">
  <thead>
    <tr>
      <th class="w-1/5">av</th>
      <th class="w-1/10">Home</th>
      <th class="w-2/5"></th>
      <th class="w-1/10">Away</th>
      <th class="w-1/5">av</th>
    </tr>
  </thead>
  <tbody class="table-bordered">
    <tr>
      <td class="w-1/5"></td>
      <td class="w-1/10 text-center">
        <%= @home_team_season.completed_fixtures.count %>
      </td>
      <td class="w-2/5 h-a-stat-title ">Matches</td>
      <td class="w-1/10">
        <%= @away_team_season.completed_fixtures.count %>
      </td>
      <td class="w-1/5"></td>
    </tr>
    <tr>
      <td class="w-1/5 text-center">
        <%= @home_team_season.average_goals_scored_at_home %>
      </td>
      <td class="w-1/10 text-center">
        <%= @home_team_season.goals.count %>
      </td>
      <td class="w-2/5 h-a-stat-title">Goals</td>
      <td class="w-1/10 text-center">
        <%= @away_team_season.goals.count %>
      </td>
      <td class="w-1/5 text-center">
        <%= @away_team_season.average_goals_scored_at_away %>
      </td>
    </tr>
    <tr>
      <td class="w-1/5 text-center">
        <%= @home_team_season.average_first_half_goals %>
      </td>
      <td class="w-1/10 text-center">
        <%= Goal.first_half_goals(@home_team_season.id).count %>
      </td>
      <td class="w-2/5 h-a-stat-title">1st half goals</td>
      <td class="w-1/10 text-center">
        <%= Goal.first_half_goals(@away_team_season.id).count %>
      </td>
      <td class="w-1/5 text-center">
        <%= @away_team_season.average_first_half_goals %>
      </td>
    </tr>
    <tr>
      <td class="w-1/5 text-center">
        <%= @home_team_season.average_second_half_goals %>
      </td>
      <td class="w-1/10 text-center">
        <%= Goal.second_half_goals(@home_team_season.id).count %>
      </td>
      <td class="w-2/5 h-a-stat-title">2nd half goals</td>
      <td class="w-1/10 text-center">
        <%= Goal.second_half_goals(@away_team_season.id).count %>
      </td>
      <td class="w-1/5 text-center">
        <%= @away_team_season.average_second_half_goals %>
      </td>
    </tr>
    <tr>
      <td class="w-1/5 text-center">
        <%= @home_team_season.average_goals_conceeded_home %>
      </td>
      <td class="w-1/10 text-center">
        <%= @home_team_season.home_goals_conceeded_count %>
      </td>
      <td class="w-2/5 h-a-stat-title">Conceeded</td>
      <td class="w-1/10 text-center">
        <%= @away_team_season.away_goals_conceeded_count %>
      </td>
      <td class="w-1/5 text-center">
        <%= @away_team_season.average_goals_conceeded_away %>
      </td>
    </tr>
    <tr>
      <td class="w-1/5 text-center">
        <%= @home_team_season.average_first_half_goals_conceeded_home %>
      </td>
      <td class="w-1/10 text-center">
        <%= @home_team_season.first_half_home_goals_conceeded %>
      </td>
      <td class="w-2/5 h-a-stat-title">1st half conceeded</td>
      <td class="w-1/10 text-center">
        <%= @away_team_season.first_half_away_goals_conceeded %>
      </td>
      <td class="w-1/5 text-center">
        <%= @away_team_season.average_first_half_goals_conceeded_away %>
      </td>
    </tr>
    <tr>
      <td class="w-1/5 text-center">
        <%= @home_team_season.average_second_half_goals_conceeded_home %>
      </td>
      <td class="w-1/10 text-center">
        <%= @home_team_season.second_half_home_goals_conceeded %>
      </td>
      <td class="w-2/5 h-a-stat-title">2nd half conceeded</td>
      <td class="w-1/10 text-center">
        <%= @away_team_season.second_half_away_goals_conceeded %>
      </td>
      <td class="w-1/5 text-center">
        <%= @away_team_season.average_second_half_goals_conceeded_away %>
      </td>
    </tr>
  </tbody>
</table>
