<div class="row">
  <div class="col-md-12 text-center mt-2">
    <h5>
      <%= link_to "GW#{@fixture.game_week}", fixture_path(@fixture) %>
    </h5>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-center">
    <h5>Form</h5>
    <div class="row">
      <div class="col-md-6">
        <%= render partial: '/fixtures/pre_fixture/form_box', object: @home_team_season, as: :team %>
      </div>
      <div class="col-md-6">
        <%= render partial: '/fixtures/pre_fixture/form_box', object: @away_team_season, as: :team %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <%= render partial: '/fixtures/pre_fixture/home_last_five_results', object: @home_team_season, as: :team %>
  </div>
  <div class="col-md-3">
    <%= render partial: '/fixtures/pre_fixture/away_last_five_results', object: @home_team_season, as: :team %>
  </div>
  <div class="col-md-3">
    <%= render partial: '/fixtures/pre_fixture/away_last_five_results', object: @away_team_season, as: :team %>
  </div>
  <div class="col-md-3">
    <%= render partial: '/fixtures/pre_fixture/home_last_five_results', object: @away_team_season, as: :team %>
  </div>
</div>
<div class="row">
  <br/>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="row pt-3">
      <%= render partial: '/fixtures/pre_fixture/top_players', object: @home_team_season, as: :team %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row pt-3">
      <%= render partial: '/fixtures/pre_fixture/top_players', object: @away_team_season, as: :team %>
    </div>
  </div>
</div>
<div class="flex-row justify-center items-center">
  <div class="px-4">
    <%= render partial: '/fixtures/pre_fixture/all_fixtures' %>
  </div>
</div>
<div class="row justify-center items-center">
  <div class="justify-center px-4">
    <h1>Home / Away stats</h1>
  </div>
</div>
<div class="flex-row justify-center items-center">
  <div class="px-4">
    <%= render partial: '/fixtures/pre_fixture/home_away_fixture_stats_table' %>
  </div>
</div>
