<div data-controller="team--opponent-stats-component">
	<table class="table-auto w-full">
		<thead class="text-base text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
		<tr>
			<th></th>
			<th></th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td class="text-xl"><%= link_to next_opponent.name, team_path(next_opponent.team) %></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Last match</td>
			<td><%= last_fixture_opponent_name %></td>
		</tr>
		<tr>
			<td>Top scorer</td>
			<td><%= top_scorer %></td>
		</tr>
		<tr>
			<td>Most assists</td>
			<td><%= next_opponent.top_assisting_player_season[1] %></td>
		</tr>
		<tr>
			<td>Most booked</td>
			<td><%= most_booked %></td>
		</tr>
		<tr>
			<td>Most reds</td>
			<td><%= most_reds %></td>
		</tr>
		<tr>
			<td>Scored</td>
			<td><%= next_opponent.goals.size %></td>
		</tr>
		<tr>
			<td>Conceded</td>
			<td><%= next_opponent.goals_against_number %></td>
		</tr>
		<tr>
			<td>Bookings</td>
			<td><%= Card.yellow_cards_for_team_season(next_opponent.id).size %></td>
		</tr>
		<tr>
			<td>Reds</td>
			<td><%= Card.red_cards_for_team_season(next_opponent.id).size %></td>
		</tr>
		</tbody>
	</table>
</div>
