<div data-controller='team--player-vs-next_opponent-component'>
	<table class='w-full'>
		<thead class='text-base text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400'>
		<tr>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
		</thead>
		<tbody>
		<tr class="mt-3">
			<td class='text-xl'></td>
			<td></td>
		</tr>
		<tr class="pt-3">
			<td>Top scorer</td>
			<td><%= rival_top_scorer %></td>
			<td></td>
			<td><%= top_scorer_against %></td>
		</tr>
		<tr>
			<td>Most booked</td>
			<td><%= rival_most_booked %></td>
			<td></td>
			<td><%= most_booked_against %></td>
		</tr>
		<tr>
			<td>Most reds</td>
			<td><%= rival_most_reds %></td>
			<td></td>
			<td><%= most_reds_against %></td>
		</tr>
		<tr>
			<td>Most assists</td>
			<td><%= rival_most_assists %></td>
			<td></td>
			<td><%= most_assists_against %></td>
		</tr>
		</tbody>
	</table>
</div>
