<div data-controller='team--player-vs-next_opponent-component'>
	<table class='w-full'>
		<thead class='text-base text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400'>
		<tr>
			<th></th>
			<th></th>
		</tr>
		</thead>
		<tbody>
		<tr class="mt-3">
			<td class='text-xl'></td>
			<td></td>
		</tr>
		<tr class="pt-3">
			<td>Top scorer</td>
			<td><%= next_opponent.next_match_opponent_name %></td>
		</tr>
		<tr>
			<td>Top scorer against</td>
			<td><%= next_opponent.top_scorer[1] %></td>
		</tr>
		<tr>
			<td>Most booked</td>
			<td><%= next_opponent.top_assists[1] %></td>
		</tr>
		<tr>
			<td>Most booked against</td>
			<td><%= next_opponent.most_booked_player.get_player_name %></td>
		</tr>
		<tr>
			<td>Most reds</td>
			<td><%= next_opponent.most_reds_player.get_player_name %></td>
		</tr>
		<tr>
			<td>Most reds against</td>
			<td><%= next_opponent.goals.size %></td>
		</tr>
		<tr>
			<td>Most assists</td>
			<td><%= next_opponent.goals_against_number %></td>
		</tr>
		<tr>
			<td>Most assists against</td>
			<td><%= Card.yellow_cards_for_team_season(next_opponent.id).size %></td>
		</tr>
		</tbody>
	</table>
</div>
