<table class="table-auto w-full season-starts-table">
	<thead>
	<tr>
		<th class="px-4 py-2">GW</th>
		<th class="px-4 py-2"></th>
		<th class="px-4 py-2">Minutes</th>
		<th class="px-4 py-2">Goals</th>
		<th class="px-4 py-2">Assists</th>
		<th class="px-4 py-2">Yellow</th>
		<th class="px-4 py-2">Red</th>
	</tr>
	</thead>
	<tbody>
	<% @fixtures.each do |match| %>
		<tr class="bg-gray-100">
			<td class="text-center">
				<%= match.game_week %>
			</td>
			<td class="pl-2">
				<%= link_to "#{match.return_opponent_fixture_string(@team_season.id)}", fixture_path(match) %>
			</td>
			<td class="px-4 py-2 text-center">
				<%= match.return_appearance_minutes_for_player_season(@player_season) %>
			</td>
			<td class="px-4 py-2 text-center">
				<%= match.return_goals_for_player_season(@player_season) %>
			</td>
			<td class="px-4 py-2 text-center">
				<%= match.return_assists_for_player_season(@player_season) %>
			</td>
			<td class="px-4 py-2 text-center">
				<%= match.return_yellow_cards_for_player_season(@player_season) %>
			</td>
			<td class="px-4 py-2 text-center">
				<%= match.return_red_cards_for_player_season(@player_season) %>
			</td>
		</tr>
	<% end %>
	</tbody>
</table>
