<table class="table-fixed season-stats-table mt-3 w-3/4">
	<thead>
	<tr>
		<th class="text-left">Starts</th>
		<th class="text-left">Subs</th>
		<th class="text-left">
			<span class="hidden laptop:inline">Goals</span>
			<span class="laptop:hidden">G</span>
		</th>
		<th class="text-left">
			<span class="hidden laptop:inline">Assists</span>
			<span class="laptop:hidden">A</span>
		</th>
		<th class="text-left">
			<span class="hidden laptop:inline">Yellow Cards</span>
			<span class="laptop:hidden">YC</span>
		</th>
		<th class="text-left">
			<span class="hidden laptop:inline">Red Cards</span>
			<span class="laptop:hidden">RC</span>
		</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td><%= @player_season.appearances.count %></td>
		<td><%= @player_season.sub_appearances.count %></td>
		<td><%= @player_season.season_goals_size %></td>
		<td><%= @player_season.season_assists_size %></td>
		<td><%= @player_season.season_yellows_count %></td>
		<td><%= @player_season.season_reds_count %></td>
	</tr>
	</tbody>
</table>
