<div class="grid grid-cols-2 gap-4 justify-center mx-auto pb-5">
  <div>
    <h5 class="text-center">Current Game Week</h5>
    <%= render partial: 'current_game_week', cached: true %>
  </div>
  <div class="align-items-right">
    <h5 class="text-center">Next Game Week</h5>
    <%= render partial: 'next_game_week', cached: true %>
  </div>
</div>
<div class="grid grid-cols-3 gap-4 justify-center mx-auto mt-5">
  <div class="md:w-1/3">
    <h5 class="text-center">Top Scorers</h5>
    <%= turbo_frame_tag "top_scorers" do %>
      <%= render partial: 'top_scorers_partial', cached: true %>
    <% end %>
  </div>
  <div class="md:w-1/3">
    <h5 class="text-center">Top Assists</h5>
    <%= turbo_frame_tag "top_assists" do %>
      <%= render partial: 'top_assists_partial', cached: true %>
    <% end %>
  </div>
  <div class="md:w-1/3">
    <h5 class="text-center">Most Booked</h5>
    <%= turbo_frame_tag "most_booked" do %>
      <%= render partial: 'most_booked', cached: true %>
    <% end %>
  </div>
</div>
