<div id="<%= dom_id card %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Minute:</strong>
    <%= card.minute %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Card type:</strong>
    <%= card.card_type %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Is home:</strong>
    <%= card.is_home %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">First card:</strong>
    <%= card.first_card_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Appearance:</strong>
    <%= card.appearance_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Player season:</strong>
    <%= card.player_season_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Team season:</strong>
    <%= card.team_season_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Fixture:</strong>
    <%= card.fixture_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this card", card, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this card', edit_card_path(card), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
