<div class="table-responsive">
  <div class="table match-stats">
    <table class="w-100">
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <%= @home_yellow_cards.count %>
          </td>
          <td class="text-center">Yellow Cards</td>
          <td>
            <%= @away_yellow_cards.count %>
          </td>
        </tr>
        <tr>
          <td>
            <%= @home_red_cards.count %>
          </td>
          <td class="text-center">Red Cards</td>
          <td>
            <%= @away_red_cards.count %>
          </td>
        </tr>
        <tr>
          <td>
            <%= @home_yellow_cards.count %>
          </td>
          <td class="text-center">Corners</td>
          <td>
            <%= @home_yellow_cards.count %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
