<table class="border-separate">
	<thead class="border-separate">
	<tr>
		<td class='w-1/3'></td>
		<td class="text-center w-1/3"><%= @fixture.referee_name %></td>
		<td class='w-1/3  text-right'></td>
	</tr>
	</thead>
	<tbody class="border-separate">
	<tr>
		<td class='w-1/3'>
			<%= @home_yellow_cards.count %>
		</td>
		<td class="text-center w-1/3">Yellow Cards</td>
		<td class='w-1/3  text-right'>
			<%= @away_yellow_cards.count %>
		</td>
	</tr>
	<tr>
		<td class='w-1/3'>
			<%= @home_red_cards.count %>
		</td>
		<td class="text-center w-1/3">Red Cards</td>
		<td class='w-1/3 text-right'>
			<%= @away_red_cards.count %>
		</td>
	</tr>
	<tr>
		<td class='w-1/3'></td>
		<td class="text-center w-1/3">Corners</td>
		<td class='w-1/3  text-right'></td>
	</tr>
	</tbody>
</table>
