<div class='grid-rows-2'>
	<div class='grid grid-cols-3 flex mt-3'>
		<div class="home-goals-post-fixture text-right">
			<%= render '/fixtures/post_fixture/fixture_goals', collection: @home_goals %>
		</div>
		<div></div>
		<div class="away-goals-post-fixture flex w-1/2">
			<%= render '/fixtures/post_fixture/fixture_goals', collection: @away_goals %>
		</div>
	</div>
	<div class="grid grid-cols-1 flex justify-items-center mt-3 mb-3">
		<%= render '/fixtures/post_fixture/fixture_stats' %>
	</div>
</div>
<div class="grid grid-cols-2 tablet:grid-cols-5 mt-5 gap-4">
	<% if @home_starts.present? || @home_substitutes.present? %>
		<div class="hidden tablet:block"></div>
		<%= render partial: '/fixtures/post_fixture/team_stats', locals: { starts: @home_starts, subs: @home_substitutes } %>
	<% end %>

	<div class="hidden tablet:block"></div>

	<% if @away_starts.present? || @away_substitutes.present? %>
		<%= render partial: '/fixtures/post_fixture/team_stats', locals: { starts: @away_starts, subs: @away_substitutes } %>
		<div class="hidden tablet:block"></div>
	<% end %>
</div>
