<div class="table-responsive">
  <div class="table lineup-table">
    <table class="w-100">
      <thead>
        <tr>
          <th class="pr-3 text-center"></th>
          <th class="pr-3 text-center">M</th>
          <th class="pr-3 text-center">G</th>
          <th class="pr-3 text-center">A</th>
          <th class="pr-3 text-center">YC</th>
          <th class="pr-3 text-center">RC</th>
        </tr>
      </thead>
      <tbody>
        <% starts.each do |start| %>
          <tr>
            <td>
              <%= link_to start.player_season.player.return_name, player_path(start.player_season.player) %>
            </td>
            <td class="text-center">
              <%= start.minute %>
            </td>
            <td class="text-center">
              <%= start.goals.where.not(goal_type: 1).count %>
            </td>
            <td class="text-center">
            </td>
            <td class="text-center">
              <%= start.cards.count %>
            </td>
            <td class="text-center">
              <%= start.cards.any? ? 1 : 0 %>
            </td>
          </tr>
        <% end %>
        <tr>
          <td>Substitutes</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <% subs.each do |sub| %>
          <tr>
            <td>
              <%= link_to sub.player_season.player.return_name, player_path(sub.player_season.player) %>
            </td>
            <td class="text-center">
              <%= sub.minute %>
            </td>
            <td class="text-center">
              <%= sub.goals.where.not(goal_type: 1).count %>
            </td>
            <td class="text-center">
            </td>
            <td class="text-center">
              <%= sub.cards.count %>
            </td>
            <td class="text-center">
              <%= sub.cards.any? ? 1 : 0 %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
