<!DOCTYPE html>
<html>
<head>
	<title>GoLes</title>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<%= csrf_meta_tags %>
	<%= csp_meta_tag %>
	<%= stylesheet_link_tag "tailwind", "application", "data-turbo-track": "reload" %>

	<%= javascript_importmap_tags %>
</head>
<header>
	<nav class="bg-green-100 border-gray-200">
		<div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
			<%= link_to root_path do %>
				<%= image_tag 'logo-transparent.png', class: 'h-8 w-auto tablet:h-12 tablet:w-auto' %>
			<% end %>
			<div class="flex tablet:order-2">
				<div class="relative tablet:block">
					<div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
						<svg class="w-4 h-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
							<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
						</svg>
						<span class="sr-only">Search icon</span>
					</div>
					<div data-controller="search">
						<input data-search-target="search" data-action="keydown.enter->search#search" type="text" id="search-navbar" class="block w-full p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500" placeholder="Team or Player...">
					</div>
				</div>
				<button data-collapse-toggle="navbar-search" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg tablet:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200" aria-controls="navbar-search" aria-expanded="false">
					<span class="sr-only">Open main menu</span>
					<svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
						<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
					</svg>
				</button>
			</div>
			<div class="grid grid-cols-2 items-center hidden w-full tablet:flex tablet:w-auto tablet:order-1" id="navbar-search">
				<div>
					<ul class="flex flex-col p-4 tablet:p-0 mt-4 font-medium border border-gray-100 rounded-lg tablet:flex-row tablet:space-x-8 tablet:mt-0 tablet:border-0">
						<li>
							<a href="<%= fixtures_path %>" class="block py-2 pl-3 pr-4 text-gray-900 rounded tablet:p-0">Fixtures</a>
						</li>
						<li>
							<a href="<%= leagues_path %>" class="block py-2 pl-3 pr-4 text-gray-900 rounded tablet:p-0">Leagues</a>
						</li>
						<li>
							<a href="<%= teams_path %>" class="block py-2 pl-3 pr-4 text-gray-900 rounded tablet:p-0">Teams</a>
						</li>
						<li>
							<a href="<%= players_path %>" class="block py-2 pl-3 pr-4 text-gray-900 rounded tablet:p-0">Players</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
</header>
<body class="bg-slate-50">
<main class="container min-h-screen">
	<%= yield %>
</main>
</body>
<footer>
	<section class="bg-green-100 w-full flex justify-center items-center">
		<div class="max-w-screen-lg text-blue-900 text-center px-4 pt-8">
			<p class="leading-relaxed font-display pb-4">
				Welcome to Goles, for all the raw stats that matter.
			</p>
			<p class="leading-relaxed font-display pb-8">
				Goles is forever indebted to Graham Taylor for its name.
			</p>
		</div>
	</section>
</footer>
</html>
